# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Ignore all node_modules folders recursively
node_modules/

# Ignore all .env files in any folder
**/.env

# (Optional) Ignore other sensitive or system files
.DS_Store
.env




# build output
target/

# IDE files
.idea/
.classpath
.project
.settings/

# environment files
.env

# Maven wrapper files (optional)
.mvn/
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# local sensitive config (if you have)
application-local.yml

# system files
.DS_Store
